/* header */
header.navbar-default{
  background-color: transparent;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  border: none;
  z-index: 99;
}
header.navbar-default .navbar-brand, .navbar-default .navbar-nav li a{
  color: whitesmoke;
  margin: 2px 0;
  -webkit-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
      transition: color .2s ease-in-out;
}
header.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li a:hover, header.navbar-default .navbar-brand:focus, .navbar-default .navbar-nav li a:focus{
  color: rgb(159, 43, 83) !important;
}

header.navbar-default .navbar-toggle .icon-bar{
  background-color: #ddd;
}

header.navbar-default .navbar-toggle:focus, header.navbar-default .navbar-toggle:hover{
  background-color: transparent;
}