/*animation*/
@keyframes bgMove {
  0% {
    background-position: 0 55%;
  }
  100% {
    background-position: 100% 55%;
  }
}

@-webkit-keyframes bgMove {
  0% {
    background-position: 0 55%;
  }
  100% {
    background-position: 100% 55%;
  }
}
/* home__top */

#home{
  /*background-image: url("../img/bg.gif");*/
  background-color: black;
}

#home .home__top .top__image{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 55%;
  -webkit-filter: blur(8px);
  filter: blur(8px);

  animation-name: bgMove;
  -webkit-animation-name: bgMove;

  animation-duration: 80s;
  -webkit-animation-duration: 80s;

  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
}

#home .home__top .top__word{
  position: relative;
  z-index: 10;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#home .home__top .top__word h1{
  margin: 0;
  display: inline-block;
  font-size: 150px;
  font-family: cursive;
}

#home .home__top .top__word h2{
  font-family: serif;
  font-size: 35px;
  padding-left: 24px;
  line-height: 44px;
  display: inline-block;
}
#home .home__top .top__word p{
  padding: 0px 16px;
}
#home .home__top .top__word h1:after{
  display: inline-block;
  vertical-align: bottom;
  content: "th";
  font-size: 45px;
  position: relative;
  padding-bottom: 23px;
}

/*#home .home__top .light1{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/light1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}*/

#home .home__top{
  height: 100%;
  background-color: rgb(37,37,37);
  background-size: cover;
  background-position: center;
  position: relative;
}
#home .home__top .top__bar{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
#home .home__top .top__bar img{
  display: block;
  width: 100%;
  height: 4px;
}

.whatsnew{
  background-color: rgb(32,32,32);
}

/*-----------------blockquote-------------------*/
#home blockquote{
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  border: none;
  padding: 60px 100px;
}
#home blockquote:before{
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  content: "";
  z-index: 3;
  border-left: 50px solid #2390B8;
  border-bottom: 50px solid transparent;
  border-top: none;
}
#home blockquote > *{
  position: relative;
  z-index: 2;
  max-width: 1080px;
  margin: 0 auto;
}
#home blockquote:after{
  display: block;
  position: absolute;
  content: "";
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-color: red;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*-webkit-filter: blur(8px);
  filter: blur(8px*/);
  z-index: 1;
}

#home blockquote:nth-of-type(odd):after{

  background-image: url("../img/back_test.png");
}
#home blockquote:nth-of-type(even):after{

  background-image: url("../img/back1.png");
}
#home hr{
  margin: 0;
}
/*-----------------/blockquote-------------------*/

@media screen and (max-width: 768px){
  #home blockquote {
    padding: 60px;
  }
}
@media screen and (max-width: 640px){
  #home blockquote {
    padding: 60px 25px;
  }
}
